.dropdown button {
  padding: 0 10px;
  background-color: #374151;
  border-color: #374151;
  min-width: 120px;
}

.dropdown-menu {
  background-color: #374151 !important;
}
.dropdown-menu button {
  color: #fff;
  background-color: #374151;
  border-color: #374151;
}
.dropdown-menu button:active {
  color: #374151;
  background-color: #fff;
  border-color: #fff;
}
