.App {
  text-align: center;
  background-color: #111827;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#crypto-name {
  font-weight: bold;
}

.orderbook-container {
  margin: 30px;
  border: 5px solid #26303f;
}

.orderbook-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #26303f;
  padding: 10px;
}

.orderbook-buttons {
  background-color: #26303f;
  padding: 5px;
  padding-top: 15px;
}
